* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
:root {
  --primary-color: #1ebfc1;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.introduction.lv1 {
  color: #767e7e;
  font-size: 1.4rem;
}

.introduction.lv2 {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.heading.lv1 {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 7.2rem;
}

.heading.lv2 {
  width: 577px;
  margin: 18px 0;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 5.6rem;
}

.desc.lv1 {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.btn {
  display: inline-block;
  width: 186px;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  line-height: 6.8rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}

.heading-desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 32px;
  margin-bottom: 80px;
}

/* ----------Header---------- */
.header {
  padding-top: 52px;
}

.header.fixed {
  position: sticky;
  top: -24px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
}

.header .logo:hover {
  cursor: pointer;
}
.header .nav {
  margin-left: auto;
  margin-right: 177px;
}

.header nav ul {
  display: flex;
}

.header .nav a {
  padding: 8px 20px;
  color: #2f3a3b;
}

.header .nav a:hover,
.header nav li.active {
  color: #2f3a3b;
  font-size: 16px;
  text-shadow: 1px 0 0 currentColor;
}

.header .action button {
  width: 108px;
  height: 48px;
  background-color: transparent;
  border: none;
  color: #494949;
  font-size: 1.6rem;
}

.header .action button:hover {
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor; /* xử lí vấn để hover vào làm dịch chuyển thành phần khác*/
  opacity: 0.9;
}

/* ----------Hero---------- */
.hero {
  margin-top: 54px;
  margin-bottom: 209px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  margin-top: 93px;
  width: 39.15%;
}

.hero-left .introduction {
  margin-bottom: 18px;
}

.hero-left .desc {
  margin-top: 46px;
  width: 374px;
  word-break: break-word;
}

.hero-left .cta-group {
  margin-top: 52px;
}

.hero-left .cta-group i {
  width: 62px;
  height: 62px;
  margin-left: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 1px 16px #f1f1f1;
  cursor: pointer;
}

.hero-left .cta-group i::before {
  color: var(--primary-color);
}

.hero-right {
  width: 49.23%;
  position: relative;
}

.hero-right .hero-img {
  width: 100%;
  height: 631px;
  object-fit: cover;
}

.hero-right .hero-courses {
  display: flex;
  align-items: center;
  position: absolute;
  top: 149px;
  left: -40px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 18px 25px;
}

.hero-right .hero-courses .book-icon {
  position: relative;
  margin-right: 16px;
}

.hero-right .hero-courses .book-2 {
  position: absolute;
  bottom: 11px;
  right: 4px;
}

.hero-courses .desc,
.hero-schedules .desc,
.hero-students .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

.hero-courses .desc {
  width: 55px;
}

.hero-schedules {
  position: absolute;
  bottom: 46px;
  left: -65px;
  padding: 16px 25px 44px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-schedules::after {
  position: absolute;
  left: 49px;
  content: "";
  display: block;
  width: 26px;
  height: 6px;
  margin-top: 16px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero-schedules .desc {
  margin-bottom: 16px;
  text-align: center;
}

.hero-schedules img {
  display: block;
}

.hero-schedules img:first-child {
  margin-bottom: 12px;
}

.hero-schedules img:last-child {
  margin-top: 10px;
}

.hero-students {
  position: absolute;
  bottom: 41px;
  right: 45px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-students .desc {
  margin-bottom: 8px;
}

.hero-students .hero-avatar {
  display: flex;
}

.hero-students img {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  object-fit: cover;
}

.hero-students img:not(:first-child),
.hero-students span {
  margin-left: -7px;
}

.hero-students span {
  color: #fff;
  text-align: center;
  line-height: 33px;
  font-size: 1rem;
  font-weight: 500;
  width: 33px;
  height: 33px;
  border-radius: 33px;
  background-color: #1ebfc1;
}

/* ----------Features---------- */
.features {
  margin-bottom: 130px;
}

.features .heading-desc {
  width: 590px;
}

.feature-list {
  display: flex;
}

.feature-item:first-child {
  width: 168px;
  margin-right: 209px;
}

.feature-item .heading {
  margin: 26px 0 16px;
}

.feature-item .heading a {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.feature-item .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 2.7rem;
}

.feature-item:not(:first-child) {
  width: 224px;
}

.feature-item:last-child {
  margin-left: 200px;
}

/* ----------Courses---------- */
.courses .description {
  display: flex;
  justify-content: space-between;
}

.courses .description .heading-desc {
  width: 525px;
  line-height: 3.2rem;
}

.courses .description span {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.courses .course-list {
  display: flex;
  gap: 47px;
}

.courses .course-item {
  flex: 1;
  position: relative;
}

.courses .course-item img {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.course-info {
  position: absolute;
  bottom: -124px;
  left: 17px;
  margin: 0 auto;
  padding: 18px 25px 11px;
  width: 325px;
  /* height: 195px; */
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.course-info .course-name {
  margin-bottom: 16px;
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course-info .course-fee {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 6px;
  line-height: normal;
}

.course-info strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-info .course-title,
.course-info span {
  margin-bottom: 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course-info span {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.course-info span::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--primary-color);
}

.statistics {
  padding: 389px 0 264px;
}

.statistic-list {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.statistic-item .heading {
  margin-bottom: 11px;
  line-height: normal;
  text-align: center;
}

.statistic-item .heading-desc {
  line-height: normal;
  margin-bottom: 0;
  text-align: center;
}
